body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  border-radius: 12px;
}

.card-title {
  word-break: break-word;
}

.card-text {
  overflow-wrap: break-word;
}

@media (max-width: 576px) {
  .card-img-top {
    height: 180px !important;
  }

  .btn {
    width: 100%;
  }
}